<div style="text-align:center;">
	<table cellspacing="5" style="width:50%; text-align: center; margin-left: auto; margin-right: auto;">
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Independent regional monthly newspaper.<br>Established in 1979</b>
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Owner - Publisher</b><br>GREGORY PATOULAS
			</td>
			<td>
				<b style="font-weight: bold">Director</b><br>CHRYSOSTOMOS PATOULAS
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Legal Consultants</b><br>
				Spiros Adamis -
				Iphigenia Dali
			</td>
		</tr>
		<tr>
			<td style="width: 50%">
				<b style="font-weight: bold">Editors</b><br>
				Fotis Mproumos -
				Dinos Makrygiannis -
				Stelios Nestoras -
				Yolanda Anastasiou -
				Nikos Avgeris
			</td>
			<td style="width: 50%">
				<b style="font-weight: bold">Partners</b><br>
				Nikos Papadimitriou -
				Michael Kokinos
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Offices</b><br>
				G. Papandreou 23 -
				162 31 VIRONAS<br>
				Phone. & Fax: 210 7653 947<br>
				e-mail: info@aitoloakarnaniki.gr
			</td>
			<td>
				<b style="font-weight: bold">Atelier</b><br>
				N. CAMPILIS<br>
				Sof. Venizelou 91
				Phone 210-6744.854<br>
				e-mail: ncabilis@hotmail.com
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Annual Membership</b><br>
				Companies: 60 euro -
				Associations: 30 euro -
				Municipalities: 60 euro -
				Individuals: 20 euro -
				Abroad: 80 euro
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Piraeus Bank Account Number</b><br>
				GR750172040000 - 5040021142140
			</td>
			<td>
				<b style="font-weight: bold">Alpha Bank Account Number</b><br>
				GR6301401190 - 119002340006059
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="subscribe" location="subscribe"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Manuscripts published or otherwise are not returned. Ads for private companies, publications and all kinds of dissertations, etc. by special agreement
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-top:60px;">
				<img id="show" src="../img/logo/edipt.png" width="180px" height="60px"/>
				<img id="show" src="../img/logo/emma.png" width="160px" height="60px"/><br>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-top:10px;">
				<img id="show" src="../img/logo/arAdeias.png" width="30px" height="30px"/>
				<img id="show" src="../img/logo/x7.png" width="30px" height="30px"/>
				<img id="show" src="../img/logo/elta.png" width="50px" height="30px"/>
			</td>
		</tr>
	</table>
</div>




<table width='100%' border='0' cellpadding='0' cellspacing='15'>
</table>