<div style="text-align:center;">
	<table cellspacing="5" style="width:50%; text-align: center; margin-left: auto; margin-right: auto;">
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Ανεξάρτητη μηνιαία τοπική εφημερίδα.<br>Έτος ιδρύσεως 1979</b>
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Ιδιοκτήτης - Εκδότης</b><br>ΓΡΗΓΟΡΗΣ ΠΑΤΟΥΛΑΣ
			</td>
			<td>
				<b style="font-weight: bold">Διευθυντής</b><br>ΧΡΥΣΟΣΤΟΜΟΣ ΠΑΤΟΥΛΑΣ
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Νομικοί Σύμβουλοι</b><br>
				Σπύρος Αδάμης -
				Ιφιγένεια Νταλή
			</td>
		</tr>
		<tr>
			<td style="width: 50%">
				<b style="font-weight: bold">Συντάκτες</b><br>
				Φώτης Μπρούμος -
				Ντίνος Μακρυγιάννης -
				Στέλιος Νέστορας -
				Γιολάντα Αναστασίου -
				Νίκος Αυγέρης
			</td>
			<td style="width: 50%">
				<b style="font-weight: bold">Συνεργάτες</b><br>
				Νίκος Παπαδημητρίου -
				Μιχάλης Κόκκινος
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Γραφεία</b><br>
				Γ. Παπανδρέου 23 -
				162 31 ΒΥΡΩΝΑΣ<br>
				ΤΗΛ. & Fax: 210 7653 947<br>
				e-mail: info@aitoloakarnaniki.gr
			</td>
			<td>
				<b style="font-weight: bold">Ατελιέ</b><br>
				Ν. ΚΑΜΠΥΛΗΣ<br>
				Σοφ. Βενιζέλου 91
				Τηλ. 210-6744.854<br>
				e-mail: ncabilis@hotmail.com
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<b style="font-weight: bold">Ετήσια Συνδρομή</b><br>
				Αν. Εταιρειών: 60 ευρώ -
				Συλλόγων: 30 ευρώ -
				Δήμων: 60 ευρώ -
				Ιδιωτών: 20 ευρώ -
				Εξωτ.: 80 ευρώ
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-weight: bold">Αριθμός Λογαριασμού Τράπεζας Πειραιώς</b><br>
				GR750172040000 - 5040021142140
			</td>
			<td>
				<b style="font-weight: bold">Αριθμός Λογαριασμού Alpha Bank</b><br>
				GR6301401190 - 119002340006059
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="subscribe" location="subscribe"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Χειρόγραφα δημοσιευόμενα ή μη δεν επιστρέφονται. Διαφημίσεις ιδιωτικών επιχειρήσεων, δημοσιεύσεις και παντός είδους διατριβές κλπ. κατ' ιδιαιτέρα συμφωνία
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-top:60px;">
				<img id="show" src="../img/logo/edipt.png" width="180px" height="60px"/>
				<img id="show" src="../img/logo/emma.png" width="160px" height="60px"/><br>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-top:10px;">
				<img id="show" src="../img/logo/arAdeias.png" width="30px" height="30px"/>
				<img id="show" src="../img/logo/x7.png" width="30px" height="30px"/>
				<img id="show" src="../img/logo/elta.png" width="50px" height="30px"/>
			</td>
		</tr>
	</table>
</div>